*.class
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/
photo.storage/
test.photo.storage/
temp/
# Package Files #
*.jar
*.war
*.ear
*.log
.project
.settings
.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

lib/jutil/filemisc.txt

prj-account/prj-account-server/.classpath
download/*

prj-account/prj-account-server/downlaod/DefaultPhoto.Service:0:Photo:11

prj-account/prj-account-server/downlaod/DefaultPhoto.Service:0:Photo:10

prj-account/prj-account-server/downlaod/DefaultPhoto.Service:0:Photo:7

prj-account/prj-account-server/downlaod/DefaultPhoto.Service:0:Photo:8

prj-account/prj-account-server/downlaod/DefaultPhoto.Service:0:Photo:9
